

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    width: 280px;
    height: 50px;
    margin-top: 22px;
}

.logo {
    color: rgb(166, 169, 171);
}

.container {
    position: absolute;
    right: 5%;
    top: 45px;
}

.container a {
    color: rgb(166, 169, 171);
    text-decoration: none;
}

.box1 ul li {
    display: inline;
}

.box1 ul li a {
    text-decoration: none;
    color: rgb(110, 91, 72);
    margin: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.box1 ul li:first-child a {
    text-decoration: underline;
}

.box1 ul li a:hover {
    text-decoration: underline;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.finalbox {
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
    background-image: url('./lastdesign.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    min-height: 120px;
}

.finalbox img {
    display: none !important;
    width: 100%;
    height: 120px;
}

.finalbox p {
    color: rgb(117, 100, 82);
}

.finalbox ul li {
    display: inline;
}

.finalbox ul li a {
    color: grey;
    text-decoration: none;
    margin: 10px;
}

.finalbox ul li a:hover {
    color: white;
    text-decoration: underline;
}

.intro h2{
     text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);
}

.intro p{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);
    text-decoration: underline;

}

#number p{
    margin: 15px;
    text-decoration: underline;
}
#number p:hover{
    cursor: pointer;
}
#git:hover{
    cursor: pointer;
}

.intro h1{
     text-decoration: underline;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);
}
.edu h2{
    text-decoration: underline;
}
.edu h2,p,span{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);
}

.skills h2{
     text-decoration: underline;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);
}

.skills h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);
}
.exp h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);

}
.exp h2{
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);

}

.contact h2{
     text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(117, 100, 82);

}

/* =============== 
   Hover-to-Reveal Section Details
================= */

.edu > div,
.skills > h4,
.skills > p,
.exp > h4,
.exp > p,
.contact > p {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.6s ease;
}
h2:hover{
    cursor: pointer;
}

/* When user hovers over a section heading, show details */

.edu:hover > div,
.skills:hover > h4,
.skills:hover > p,
.exp:hover > h4,
.exp:hover > p,
.contact:hover > p {
    display: block;
    opacity: 1;
    max-height: 500px;
    transition: all 0.8s ease;
}



