*,
*::before,
*::after { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    width: 280px;
    height: 50px;
    margin-top: 22px;
}

.logo {
    color: rgb(166, 169, 171);
}

.container {
    position: absolute;
    right: 5%;
    top: 45px;
}

@media (max-width: 758px) {
    .container {
        display: none;
    }
}



.lines {
    display: none;
}

.dropdown ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: rgb(110, 91, 72);;
      
}
.dropdown ul{
    list-style-type: none;
    display: none;
}

.container a {
    color: rgb(166, 169, 171);
    text-decoration: none;
}

.box1 ul li {
    display: inline;
}

.box1 ul li a {
    text-decoration: none;
    color: rgb(110, 91, 72);
    margin: 12px;
}

.box1 ul li:first-child a {
    text-decoration: underline;
}

.box1 ul li a:hover {
    text-decoration: underline;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

@media (max-width: 1030px) {
    .box1 ul {
        display: none;
    }

    .lines {
        display: block;
        width: 3%;
        color: rgb(110, 91, 72);
        margin-top: 7%;
    }

    .box1 {
        display: inline;
    }

    .lines:hover {
        cursor: pointer;
    }
}

#search {
    position: absolute;
    right: 5%;
    top: 25%;
}

.box2 {
    margin-top: 1%;
    margin-right: 30%;
    display: flex;
    flex: 1 1 500px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
  #firstp, #thirdp {
    font-size: 1rem;
  }

  .box2 {
    width: 90%;
  }
}


#firstp {
    position: absolute;
    top: 380px;
    right: 6%;
    font-size: 60px;
    color: rgb(110, 91, 72);
    font-weight: bold;
}

#secondp {
    position: absolute;
    top: 280px;
    right: 12%;
    font-size: 60px;
    color: rgb(110, 91, 72);
    font-weight: bold;
}

#thirdp {
    position: absolute;
    top: 570px;
    right: 35%;
    background-color: rgb(110, 91, 72);
    color: white;
    padding: 10px;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#timg {
    position: absolute;
    top: 400px;
    right: 10%;
}

.paradiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.lastpdiv{
    display: flex;
    justify-content: center;
}

#lastp {
    font-size: 70px;
    color: rgb(117, 100, 82);
}

@media(max-width:450px){
    #lastp{
        font-size: 55px;
    }
}

@media(max-width:355px){
    #lastp{
        font-size: 40px;
    }
}

.maincontainer {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 350px;
}

.box p {
    text-align: center;
    color: rgb(166, 169, 171);
}

.box h2 {
    margin-top: 50%;
    text-align: center;
    margin: 4px;
    font-size: 30px;
    color: rgb(110, 91, 72);
}

.box img {
    width: 300px;
    height: 200px;
}

.threelements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mlastp {
    color: white;
    background-color: rgb(110, 91, 72);
    padding: 10px 14px;
    width: 15%;
}

@media(max-width:435px){
    #mlastp{
        font-size: 14px;
    }
}

.elements {
    margin: 3%;
}

#homep {
    margin-top: 1%;
    font-size: 50px;
    align-self: center;
    justify-self: center;
    color: rgb(117, 100, 82);
}

@media(max-width:470px){
    #homep{
        font-size: 30px ;
    }
}

.newcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:1000px){
    #newimg{
        height: 400px;
        width: 400px;

    }
}
@media(max-width:850px){
    #newimg{
        height: 300px;
        width: 300px;

    }
}


.nesteddiv {
    flex: 1 1 420px;  
    min-width: 260px;  
    max-width: 48%; 
}

.points {
    margin: 4%;
}

.points span {
    color: rgb(166, 169, 171);
}

#points1 {
    display: block;
}

#points2 {
    display: block;
}

.nimg {
    width: 3%;
    height: 5%;
}

#newp {
     width: 120%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(117, 100, 82);
}

#span1,
#span2 {
    width: 400px;
    color: rgb(166, 169, 171);
}

#readp {
    color: rgb(117, 100, 82);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
}

#sign {
    color: rgb(117, 100, 82);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 22px;
}

#readp:hover {
    text-decoration: underline;
}

.secondlast {
    background-image: url('./slider1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    min-height: 120vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#girl {
    border-radius: 300px;
}

.secondlast p {
    width: 800px;
    text-align: center;
    color: rgb(117, 100, 82);
    right: 20%;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
#name {
    color: rgb(117, 100, 82);
    font-family: 'Georgia', 'Times New Roman', serif;
}


@media (max-width: 900px) {
  #name {
    font-size: 15px;
  }
}

@media (max-width: 820px) {
  .secondlast {
    padding: 28px 16px;
    gap: 14px;
  }

 
  .secondlast img,
  .secondlast #girl {
    max-width: 200px;
    width: 100%;
    height: auto;
  }

  .secondlast p {
    width: 100%;
    max-width: 92%;
    padding: 0 12px;
    overflow-wrap: anywhere;
    white-space: normal;
    font-size: 22px;        
    line-height: 1.5;
    box-sizing: border-box;
  }
}
@media (max-width: 420px) {
  .secondlast {
    padding: 20px 12px;
  }

  .secondlast img,
  .secondlast #girl {
    max-width: 160px;
  }

  
  .secondlast p {
    max-width: 94%;
    padding: 0 10px;
   
  }
}

.boxesparent {
    display: flex;
}

.boxes {
    margin: 5px;
    width: 13px;
    height: 13px;
    border-color: black;
    background-color: rgb(178, 185, 192);
    border-radius: 50%;
}

.boxes:hover {
    background-color: rgb(166, 169, 171);
    cursor: pointer;
}

.lastbox {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#firstspan {
    color: rgb(117, 100, 82);
    font-size: 40px;
}
@media(max-width:360px){
    #firstspan{
        font-size: 20px;
    }
}

#secondspan {
    background-color: rgb(117, 100, 82);
    color: white;
    padding: 10px;
}

.finalbox {
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
    background-image: url('./lastdesign.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    min-height: 120px;
}

.finalbox img {
    display: none !important;
    width: 100%;
    height: 120px;
}

.finalbox p {
    color: rgb(117, 100, 82);
}

.finalbox ul li {
    display: inline;
}

.finalbox ul li a {
    color: grey;
    text-decoration: none;
    margin: 10px;
}

.finalbox ul li a:hover {
    color: white;
    text-decoration: underline;
}